## Notebook to extract the data for each student from assements files

In [1]:
%reset -f
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
data_courses=pd.read_csv("courses.csv")
data_assessments=pd.read_csv("assessments.csv")
data_studentAssessment=pd.read_csv("studentAssessment.csv")
data_studentInfo=pd.read_csv("studentInfo.csv")
data_studentRegistration=pd.read_csv("studentRegistration.csv")

display(data_courses)

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

### Cleaning the data

In [3]:
for i in range(0,data_assessments.shape[0]):
    if data_assessments.iloc[[i]]["date"].values[0]=='?':
        
        code_module=data_assessments.iloc[[i]]["code_module"].values[0]
        code_presentation=data_assessments.iloc[[i]]["code_presentation"].values[0]
               
        module_presentation_length=data_courses[(data_courses["code_module"]==code_module)&
                                                (data_courses["code_presentation"]==code_presentation)]["module_presentation_length"].values[0]
        
        data_assessments.at[i,"date"] = module_presentation_length
                

data_assessments[4:]

    code_module code_presentation  id_assessment assessment_type date  weight
4           AAA             2013J           1756             TMA  215    30.0
5           AAA             2013J           1757            Exam  268   100.0
6           AAA             2014J           1758             TMA   19    10.0
7           AAA             2014J           1759             TMA   54    20.0
8           AAA             2014J           1760             TMA  117    20.0
..          ...               ...            ...             ...  ...     ...
201         GGG             2014J          37443             CMA  229     0.0
202         GGG             2014J          37435             TMA   61     0.0
203         GGG             2014J          37436             TMA  124     0.0
204         GGG             2014J          37437             TMA  173     0.0
205         GGG             2014J          37444            Exam  229   100.0

[202 rows x 6 columns]

### Data frame for ID, dates and weights of different code module and presentation

In [4]:
courses=[]
for i in range(0,data_assessments.shape[0]):
    
    code_module=data_assessments.iloc[[i]]["code_module"].values[0]
    code_presentation=data_assessments.iloc[[i]]["code_presentation"].values[0]
    
    courses.append((code_module,code_presentation))

courses=list(set(courses))

coursed_det={"code_module":[],"code_presentation":[],"id_assessments":[],"dates":[],"weights":[]}
for (arg1,arg2) in courses:
    dum=data_assessments[(data_assessments["code_module"]==arg1) & (data_assessments["code_presentation"]==arg2)]
    dum=dum[dum["assessment_type"] != "Exam"]

    coursed_det["code_module"].append(arg1)
    coursed_det["code_presentation"].append(arg2)
    
    dates=dum["date"].values
    dates=np.array([float(i) for i in dates])
    dates=dates
    ind=np.argsort(dates)
    dates=dates[ind]
    
    weights=dum["weight"].values
    weights=np.array([float(i) for i in weights])
    weights=weights[ind]/100.0
    
    id_assessment=dum["id_assessment"].values
    id_assessment=np.array([int(i) for i in id_assessment])
    id_assessment=id_assessment[ind]

    coursed_det["dates"].append(dates)
    coursed_det["weights"].append(weights)
    coursed_det["id_assessments"].append(id_assessment)
    
coursed_det=pd.DataFrame(coursed_det)
display(coursed_det)

,code_module,code_presentation,id_assessments,dates,weights
0,FFF,2013B,"[34860, 34861, 34862, 34863, 34864, 34865, 348...","[19.0, 47.0, 89.0, 131.0, 166.0, 222.0, 222.0,...","[0.125, 0.125, 0.25, 0.25, 0.25, 0.0, 0.0, 0.0..."
1,FFF,2013J,"[34873, 34874, 34875, 34876, 34877, 34878, 348...","[19.0, 47.0, 96.0, 131.0, 173.0, 236.0, 236.0,...","[0.125, 0.125, 0.25, 0.25, 0.25, 0.0, 0.0, 0.0..."
2,BBB,2013B,"[14984, 14985, 14991, 14992, 14986, 14993, 149...","[19.0, 47.0, 54.0, 89.0, 89.0, 124.0, 124.0, 1...","[0.05, 0.18, 0.01, 0.01, 0.18, 0.01, 0.18, 0.0..."
3,CCC,2014J,"[24295, 24291, 24296, 24292, 24297, 24293, 242...","[18.0, 32.0, 67.0, 109.0, 144.0, 158.0, 207.0,...","[0.02, 0.09, 0.07, 0.22, 0.08, 0.22, 0.22, 0.08]"
4,FFF,2014J,"[34899, 34900, 34901, 34902, 34903, 34904, 349...","[24.0, 52.0, 94.0, 136.0, 199.0, 241.0, 241.0,...","[0.125, 0.125, 0.25, 0.25, 0.25, 0.0, 0.0, 0.0..."
5,GGG,2013J,"[37415, 37416, 37417, 37418, 37419, 37420, 374...","[61.0, 124.0, 173.0, 229.0, 229.0, 229.0, 229....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
6,EEE,2014J,"[30719, 30720, 30721, 30722]","[33.0, 68.0, 131.0, 166.0]","[0.16, 0.28, 0.28, 0.28]"
7,DDD,2014J,"[25362, 25363, 25364, 25365, 25366, 25367]","[20.0, 41.0, 62.0, 111.0, 146.0, 195.0]","[0.05, 0.1, 0.1, 0.25, 0.25, 0.25]"
8,BBB,2014J,"[15020, 15021, 15022, 15023, 15024]","[19.0, 54.0, 110.0, 152.0, 201.0]","[0.0, 0.1, 0.2, 0.35, 0.35]"
9,EEE,2013J,"[30709, 30710, 30711, 30712]","[33.0, 68.0, 124.0, 159.0]","[0.16, 0.28, 0.28, 0.28]"
10,GGG,2014B,"[37425, 37426, 37427, 37428, 37429, 37430, 374...","[61.0, 117.0, 166.0, 222.0, 222.0, 222.0, 222....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
11,EEE,2014B,"[30714, 30715, 30716, 30717]","[33.0, 68.0, 117.0, 152.0]","[0.16, 0.28, 0.28, 0.28]"
12,AAA,2014J,"[1758, 1759, 1760, 1761, 1762]","[19.0, 54.0, 117.0, 166.0, 215.0]","[0.1, 0.2, 0.2, 0.2, 0.3]"
13,DDD,2013B,"[25341, 25334, 25342, 25335, 25343, 25336, 253...","[23.0, 25.0, 51.0, 53.0, 79.0, 81.0, 114.0, 11...","[0.02, 0.075, 0.03, 0.1, 0.03, 0.125, 0.04, 0...."
14,DDD,2013J,"[25348, 25349, 25350, 25351, 25352, 25353]","[25.0, 53.0, 88.0, 123.0, 165.0, 207.0]","[0.1, 0.125, 0.175, 0.2, 0.2, 0.2]"
15,GGG,2014J,"[37435, 37436, 37437, 37438, 37439, 37440, 374...","[61.0, 124.0, 173.0, 229.0, 229.0, 229.0, 229....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
16,BBB,2013J,"[14996, 14997, 15003, 15004, 14998, 15005, 149...","[19.0, 47.0, 54.0, 96.0, 96.0, 131.0, 131.0, 1...","[0.05, 0.18, 0.01, 0.01, 0.18, 0.01, 0.18, 0.0..."
17,CCC,2014B,"[24286, 24282, 24287, 24283, 24288, 24284, 242...","[18.0, 32.0, 67.0, 102.0, 137.0, 151.0, 200.0,...","[0.02, 0.09, 0.07, 0.22, 0.08, 0.22, 0.22, 0.08]"
18,FFF,2014B,"[34886, 34887, 34888, 34889, 34890, 34891, 348...","[24.0, 52.0, 87.0, 129.0, 171.0, 227.0, 227.0,...","[0.125, 0.125, 0.25, 0.25, 0.25, 0.0, 0.0, 0.0..."
19,AAA,2013J,"[1752, 1753, 1754, 1755, 1756]","[19.0, 54.0, 117.0, 166.0, 215.0]","[0.1, 0.2, 0.2, 0.2, 0.3]"
20,DDD,2014B,"[25355, 25356, 25357, 25358, 25359, 25360]","[25.0, 53.0, 74.0, 116.0, 158.0, 200.0]","[0.1, 0.125, 0.175, 0.2, 0.2, 0.2]"
21,BBB,2014B,"[15008, 15009, 15015, 15016, 15010, 15017, 150...","[12.0, 40.0, 47.0, 82.0, 82.0, 117.0, 117.0, 1...","[0.05, 0.18, 0.01, 0.01, 0.18, 0.01, 0.18, 0.0..."

### Cleaning the data

In [14]:
print(" ? in date_submitted:",data_studentAssessment[data_studentAssessment["date_submitted"]=='?'].shape[0])
print(" ? in is_banked:",data_studentAssessment[data_studentAssessment["is_banked"]=='?'].shape[0])
print(" 1 in is_banked:",data_studentAssessment[data_studentAssessment["is_banked"]==1].shape[0])
print(" ? in score:",data_studentAssessment[data_studentAssessment["score"]=='?'].shape[0])

data_studentAssessment['score'] = pd.to_numeric(data_studentAssessment['score'],errors='coerce')

for ind in data_studentAssessment.index[data_studentAssessment["score"].isna()].tolist():
    
    id_assessment=data_studentAssessment.iloc[[ind]]["id_assessment"].values[0]    
    medval=data_studentAssessment[data_studentAssessment["id_assessment"]==id_assessment]["score"].median()

    data_studentAssessment.at[ind,"score"]=medval


print(" ? in score:",data_studentAssessment[data_studentAssessment["score"]=='?'].shape[0])

data_studentAssessment

 ? in date_submitted: 0
 ? in is_banked: 0
 1 in is_banked: 1909
 ? in score: 173
 ? in score: 0

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

In [15]:
print(data_studentInfo.shape)
data_studentInfo

(32593, 12)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

### Calcaulting scores at different percentage of course length

Calculation weighted cumulative score (CS), percentage weighted cumulative score (PCS), number of late submissions (LS) and  average raw scores (RS) and sotring to a data frame

In [16]:
data_SA_asmbl={"code_module":[],"code_presentation":[],"id_student":[]}
data_SA_asmbl.update({"CS20":[],"CS40":[],"CS60":[],"CS80":[],"CS100":[]})
data_SA_asmbl.update({"PCS20":[],"PCS40":[],"PCS60":[],"PCS80":[],"PCS100":[]})
data_SA_asmbl.update({"LS20":[],"LS40":[],"LS60":[],"LS80":[],"LS100":[]})
data_SA_asmbl.update({"RS20":[],"RS40":[],"RS60":[],"RS80":[],"RS100":[]})

for i in tqdm(range(0,data_studentInfo.shape[0])):
        
    code_module=data_studentInfo.iloc[[i]]["code_module"].values[0]
    code_presentation=data_studentInfo.iloc[[i]]["code_presentation"].values[0]
    id_student=data_studentInfo.iloc[[i]]["id_student"].values[0] 

    data_SA_asmbl["code_module"].append(code_module)
    data_SA_asmbl["code_presentation"].append(code_presentation)
    data_SA_asmbl["id_student"].append(id_student)

    dum=coursed_det[(coursed_det["code_module"]==code_module) & (coursed_det["code_presentation"]==code_presentation)]
    
    dates=dum["dates"].values[0]
    
    id_assessments=dum["id_assessments"].values[0]
    weights=dum["weights"].values[0]
          
    scores_each=[]
    date_submitted_each=[]
    for id_assessment in id_assessments:
        
        dum1=data_studentAssessment[(data_studentAssessment["id_student"]==id_student) & (data_studentAssessment["id_assessment"]==id_assessment)]["score"].values
        if dum1.shape[0]!=0:
            scores_each.append(dum1[0])
        else:
            scores_each.append(0.0)
        
        dum1=data_studentAssessment[(data_studentAssessment["id_student"]==id_student) & (data_studentAssessment["id_assessment"]==id_assessment)]["date_submitted"].values
        if dum1.shape[0]!=0:
            date_submitted_each.append(dum1[0])
        else:
            date_submitted_each.append(0)
        
    scores_each=np.asarray(scores_each).astype(np.float64)
    date_submitted_each=np.asarray(date_submitted_each)
        
    cum_score=np.cumsum(scores_each*weights)
    prcnt_cum_score=(cum_score+1e-16)/(np.cumsum(weights)*100+1e-16)*100
    late_submission=np.cumsum((dates-date_submitted_each)<0)
    scores_each=np.cumsum(scores_each)/np.arange(1,scores_each.shape[0]+1)
    
    module_presentation_length=data_courses[(data_courses["code_module"]==code_module)&
                                            (data_courses["code_presentation"]==code_presentation)]["module_presentation_length"].values[0]

    for prcnt in np.arange(0.20,1.01,0.20):
        
        ind=np.where(dates/(module_presentation_length+1e-16)<=prcnt)
        
        if ind[0].shape[0]!=0:      
            data_SA_asmbl["CS"+str(int(prcnt*100))].append(cum_score[ind[0][-1]])
            data_SA_asmbl["PCS"+str(int(prcnt*100))].append(prcnt_cum_score[ind[0][-1]])
            data_SA_asmbl["LS"+str(int(prcnt*100))].append(late_submission[ind[0][-1]])
            data_SA_asmbl["RS"+str(int(prcnt*100))].append(scores_each[ind[0][-1]])
        else:
            data_SA_asmbl["CS"+str(int(prcnt*100))].append(cum_score[0]*100)
            data_SA_asmbl["PCS"+str(int(prcnt*100))].append(prcnt_cum_score[0])
            data_SA_asmbl["LS"+str(int(prcnt*100))].append(late_submission[0])
            data_SA_asmbl["RS"+str(int(prcnt*100))].append(scores_each[0])

data_SA_asmbl=pd.DataFrame(data_SA_asmbl)

display(data_SA_asmbl)

100%|████████████████████████████████████████████████████████████████████████████| 32593/32593 [17:45<00:00, 30.58it/s]

,code_module,code_presentation,id_student,CS20,CS40,CS60,CS80,CS100,PCS20,PCS40,...,LS20,LS40,LS60,LS80,LS100,RS20,RS40,RS60,RS80,RS100
0,AAA,2013J,11391,7.8,24.8,40.8,57.8,82.4,7.800000e+01,8.266667e+01,...,0,0,0,0,0,78.0,81.5,81.000000,82.000000,82.000000
1,AAA,2013J,28400,7.0,20.6,34.6,47.4,65.4,7.000000e+01,6.866667e+01,...,1,1,2,2,2,70.0,69.0,69.333333,68.000000,66.400000
2,AAA,2013J,30268,0.0,0.0,0.0,0.0,0.0,1.000000e-15,3.333333e-16,...,0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000
3,AAA,2013J,31604,7.2,21.4,36.2,53.8,76.3,7.200000e+01,7.133333e+01,...,0,0,0,0,0,72.0,71.5,72.333333,76.250000,76.000000
4,AAA,2013J,32885,6.9,12.9,25.5,32.5,55.0,6.900000e+01,4.300000e+01,...,1,2,3,4,5,69.0,49.5,54.000000,49.250000,54.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,0.0,0.0,0.0,0.0,0.0,1.000000e+02,1.000000e+02,...,0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000
32589,GGG,2014J,2645731,0.0,0.0,0.0,0.0,0.0,1.000000e+02,1.000000e+02,...,1,1,1,2,2,80.0,80.0,80.500000,77.666667,88.111111
32590,GGG,2014J,2648187,0.0,0.0,0.0,0.0,0.0,1.000000e+02,1.000000e+02,...,0,0,0,0,0,65.0,65.0,70.000000,70.000000,76.666667
32591,GGG,2014J,2679821,0.0,0.0,0.0,0.0,0.0,1.000000e+02,1.000000e+02,...,0,0,0,0,0,83.0,83.0,41.500000,27.666667,20.333333
32592,GGG,2014J,2684003,0.0,0.0,0.0,0.0,0.0,1.000000e+02,1.000000e+02,...,0,0,0,0,0,80.0,80.0,80.000000,73.333333,64.444444

### Saving the assessments dataframe to students_asses_combined.csv

In [17]:
data_studentRegistration=pd.read_csv("studentRegistration.csv")
data_studentRegistration.pop("date_unregistration")
print(" ? in date_registration:",data_studentRegistration[data_studentRegistration["date_registration"]=='?'].shape[0])

data_studentRegistration["date_registration"] = pd.to_numeric(data_studentRegistration["date_registration"],errors='coerce')

for ind in data_studentRegistration.index[data_studentRegistration["date_registration"].isna()].tolist():
    data_studentRegistration.at[ind,"date_registration"]=0
    
print(" ? in date_registration:",data_studentRegistration[data_studentRegistration["date_registration"]=='?'].shape[0])
data_studentRegistration

data_SA_asmbl=pd.merge(data_SA_asmbl, data_studentRegistration, how='left', on=['code_module','code_presentation','id_student'])

 ? in date_registration: 45
 ? in date_registration: 0

In [19]:
data_SA_asmbl
data_SA_asmbl.to_csv('students_asses_combined.csv')